/* ./src/index.css */
@tailwind base;
@tailwind components;

body {
  font-family: "Cereal";
}

@font-face {
  font-family: "Cereal";
  font-display: swap;
  src: url("./assets/fonts/AirbnbCereal-Black.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "Cereal";
  font-display: swap;
  src: url("./assets/fonts/AirbnbCereal-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Cereal";
  font-display: swap;
  src: url("./assets/fonts/AirbnbCereal-ExtraBold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Cereal";
  font-display: swap;
  src: url("./assets/fonts/AirbnbCereal-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Cereal";
  font-display: swap;
  src: url("./assets/fonts/AirbnbCereal-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Cereal";
  font-display: swap;
  src: url("./assets/fonts/AirbnbCereal-Book.woff") format("woff");
  font-weight: 400;
}

ion-icon {
  /* color: #a3a3a3; */
  font-size: 20px;
}
@tailwind utilities;
